@model IEnumerable<TestTask.Models.Photo>

@{
    ViewData["Title"] = "Список всех фото";
}

<h1>Список фото</h1>

<p>
    <a asp-action="Create">Добавить фото</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Описание
            </th>
            <th>
                Фото
            </th>
            <th>
                Время загрузки
            </th>
            <th>
                Скопированно в secondbase
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="~/Photos/@item.ImageSrc" class="rounded-circle" width="100" height="100" >
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uploadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCopied)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Копировать в secondbase</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
